@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #fd7e1d; /* Couleur de fond orange */
}

/* Typographie */
h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blanchedalmond;
}

a:visited {
  text-decoration: none;
}


/* Sections et conteneurs */
header, nav, main, footer {
  display: flex;
  width: 90%;
  margin: 10px auto;
}

header {
  justify-content: space-between;
  align-items: center;
  background-color: #fd7e1d;
}

nav {
  justify-content: space-around;
}

nav a {
  padding: 10px;
  font-size: 1.5em; /* Utilisation d'em pour la cohérence */
}

main {
  flex-direction: column;
  align-items: center;
}

footer {
  justify-content: space-between;
  align-items: center; /* Alignement vertical au centre */
}

.container { /* Fusion des deux règles .container */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: blanchedalmond;
}

.contact:hover {
  color: #fd7e1d;
}

#presentation {
  width: 75%;
}
/* Viewer (Carousel) */
#carousel-container {
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0; /* Pour s'assurer qu'il couvre toute la largeur */
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.carousel-controls button {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em; /* Utilisation d'em */
}

.hidden {
  display: none;
}

/* Description */
#descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px auto; /* Ajout de margin vertical */
  gap: 20px;
}

.description {
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.description img {
  max-width: 450px;
  height: auto;
  margin: 0 20px 0 0; /* Marge à droite seulement */
}

.description-content {
  flex: 1;
}

.description h3 {
  margin-top: 0;
}

.description p {
  text-align: left;
}