@use 'variables';

body{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/Imgs/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	z-index: 5;
	position: relative;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	grid-area: 1/1/2;
	position: relative;
	a {
		font-family: Raleway, serif;
		color: #333;
		cursor: pointer;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		position: relative;
		text-align: center;
		margin: 1vh auto;
		padding: 2.5vh 0;
		width: 20%;
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(15px);
		border-radius: 5px;
		box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.8) inset,
			3px 5px 10px 0 rgba(0, 0, 0, 0.1);
		text-decoration: none;
		will-change: color, text-shadow, font-size;
		transition: ease all 0.3s;
        min-width: 100px;
		&:hover {
			transform: scale(1.1);
			background: rgba(255, 255, 255, 0.8);
		}
	}
}

footer, header{
    color: variables.$white;
    text-align: center;
}

/* Styles pour le formulaire */
form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    color: white;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#openModalBtn[type="submit"]:hover {
    background-color: #45a049;
}